:root {
  --bodyBackgroundColor: var(--colorWhite);
  --bodyColor: var(--colorGrey-200);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font: 62.5%/1.6 system-ui, -apple-system, BlinkMacSystemFont, 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}

body {
  margin: 0;
  background: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  font-size: 1.6rem;
  font-weight: 400;
}
