// Blank slates
.blank
  block()
  padding 4rem
  background $core-blank-bg
  border-radius $core-radius
  text-align center

  .blank-title
    font-size $font-medium
    margin-bottom .2rem

  .blank-meta
    font-size $font-small
    color $color-grey-lighter

  .blank-action
    margin-top 1rem
