// Name:            Menu
// Description:     Styles for Menu
//
// Namespace:       `menu`
//
// Modifiers:       ``
//
// ========================================================================


// Variables
// ========================================================================

$menu-item-padding-x = 1rem
$menu-item-padding-y = .4rem

// Component: Menu
// ========================================================================


.menu
  position relative
  display flex
  flex-direction column
  margin 0
  padding 0
  overflow hidden

  .menu__item
    position relative
    display block
    width 100%
    margin-bottom .1rem
    // padding $menu-item-padding-y $menu-item-padding-x
    text-decoration none 
    user-select none

    & > a
      display block
      margin 0
      padding $menu-item-padding-y $menu-item-padding-x
      color $color-grey-400
      font-size $font-small
      overflow hidden
      text-decoration none
      border-radius $core-radius
      &:hover
        background $color-grey-1000
        color $core-link-color

      &:active,
      &.active
        background alpha($core-link-color, .9)
        color $core-link-color

    & > .menu
      margin 0 0 0 1.4rem
      padding-left 1.4rem
      border-left $core-border-width solid $color-grey-900

      .menu__item
        & > a
          margin 0
          padding 0
          color $core-link-color
          &:hover
            background transparent
            color lighten($core-link-color, 10%)
            text-decoration underline
          &:active
            background none

  .menu__badge
    padding .6rem 0

  .divider
    &[data-content]::before
      padding-left 0
