// Name:            Panel
// Description:     Styles for panels
//
// Namespace:       `panel`
//
// Modifiers:       `panel--depth`
//
// States:          `component-state`
//
// ========================================================================


// Variables
// ========================================================================


// Component: panel
// ========================================================================

.panel
  block()
  padding 2rem
  background $color-white
  border-radius $core-radius
  core-shadow()
  
  .panel__header
    margin-bottom 1rem
    
  .panel__body
    // padding 0 4rem
