*,
*::after,
*::before
  box-sizing border-box

html
  box-sizing border-box
  font $core-font-size $core-font-family
  line-height $core-lineheight

body
  margin 0
  background $core-bg-color
  color $core-text-color
  font-size 1.6rem
  font-weight 400

a
  color $core-link-color
  text-decoration none

  &:hover
    color lighten($core-link-color, 10%)
    text-decoration underline


article,
aside,
figure,
footer,
header,
hgroup,
section
  display block
